.about-container {
    justify-content: center;
    display: grid;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}

p {
    
    margin: -20px 200px 400px 300px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    padding: 5rem;
    
}