body {
  background-color: hsl(0, 0%, 98%);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .md\:px-6 {
    padding-left: 6px;
    padding-right: 6px;
  }
}

.sect {
  margin-bottom: 32px;
  text-align: center;
}

.article {
  margin-bottom: 12px;
  padding-bottom: 4px;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

.outermost {
  gap: 1.5rem;
}

@media (min-width: 1024px) {
  .outermost {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1280px) {
  .outermost {
    column-gap: 3rem;
  }
}

.outer {
  margin-bottom: 1.5rem;
}

@media (min-width: 1024px) {
  .outer {
    margin-bottom: 0;
  }
}

.imgblock {
  position: relative;
  display: block;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07),
    0 10px 20px -2px black;
}

@media (prefers-color-scheme: dark) {
  .imgblock {
    background-color: #4b5563;
  }
}

.block{
  display: flex;
}

.image{
  position: relative;
  margin-left: 9rem;
  margin-right: 9rem;
  margin-top: 1rem;
  overflow: hidden;
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (prefers-color-scheme: dark) {
  .image {
    box-shadow: rgba(0,0,0,1) 0px 10px 15px -3px, rgba(0,0,0,1) 0px 4px 6px -2px;
    opacity: .2;
  }
}

.b{
  width: 100%;
}

.c{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-attachment: fixed;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.c:hover {
  opacity: 1;
}

.c::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0,0%,98.4%,.15);
}

.d{
  padding: 1.5rem;
}

.e{
  margin-bottom: 0.75rem;
  font-size: 1.125rem;
  font-weight: bold;
  color: black
}

.f{
  margin-bottom: 1rem;
  color: black;
}


@media (prefers-color-scheme: dark) {
  .f {
    color: #d1d5db;
  }
}

.g{
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
}

.h {
  display: inline-block;
  border-radius: 9999px;
  background-color: #3b82f6;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.625rem;
  padding-bottom: 0.5rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5;
  color: white;
  box-shadow: rgba(59,113,202,0.5) 0px 4px 9px -4px;
  transition-duration: 150ms;
  transition-timing-function: cubic-bezier(0.4,0,0.2,1);
}
.h:hover {
    background-color: #2563eb;
    box-shadow: rgba(59,113,202,0.3) 0px 8px 9px -4px, rgba(59,113,202,0.2) 0px 4px 18px 0px;
}
.h:focus {
    background-color: #2563eb;
    box-shadow: rgba(59,113,202,0.3) 0px 8px 9px -4px, rgba(59,113,202,0.2) 0px 4px 18px 0px;
    outline: none;
}
.h:focus:not(:focus-visible) {
    outline: none;
}
.h:focus-visible {
    width: var(--tw-ring-offset-width);
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: var(--tw-ring-offset-width);
    --tw-ring-offset-color: var(--tw-ring-offset-color);
    --tw-ring-color: var(--tw-ring-color);
    --tw-ring-offset-shadow: var(--tw-ring-inset) var(--tw-ring-offset-width) var(--tw-ring-offset-color) var(--tw-ring-offset-shadow);
    --tw-ring-shadow: var(--tw-ring-inset) calc(var(--tw-ring-width) + var(--tw-ring-offset-width)) var(--tw-ring-color) var(--tw-ring-shadow);
    box-shadow: var(--tw-ring-offset-shadow),var(--tw-ring-shadow),var(--tw-shadow,0);
}
.h.active {
    background-color:#1d4ed8;
    box-shadow: rgba(59,113,202,0.3) 0px 8px 9px -4px, rgba(59,113,202,0.2) 0px 4px 18px 0px;
}
@media (prefers-color-scheme: dark) {
    .h {
        box-shadow: rgba(59,113,202,0.5) 0px 4px 9px -4px;
    }
    .h:hover {
        box-shadow: rgba(59,113,202,0.2) 0px 8px 9px -4px, rgba(59,113,202,0.1) 0px 4px18 px -4 px;
    }
    .h:focus {
        box-shadow: rgba(59,113,202,0.2) px8 px9 px-4 px ,rgba(59 ,113 ,202 ,0 .1 ) px4 px18 px-4 px ;
    }
    .h.active {
        box-shadow :rgba (59 ,113 ,202 ,0 .2 ) px8 px9 px-4 px ,rgba (59 ,113 ,202 ,0 .1 ) px4 px18 px-4 px ;
    }
}
 





